<!DOCTYPE html>
<html lang=en xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.13.5/css/ui.jqgrid.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.13.5/js/jquery.jqgrid.min.js"></script>

    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/admin/admin-tab.js"></script>
    <script src="/js/admin/admin-product.js"></script>
    <script src="/js/admin/admin-order.js"></script>
    <script src="/js/admin/admin-postal.js"></script>
    <title>Admin page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>
<body>

<div class="container">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">eShop admin panel</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <h3>Welcome to admin panel</h3>
        <p></p>
        <p></p>
        <p></p>
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'orders')" id="defaultOpen">Orders</button>
            <button class="tablinks" onclick="openTab(event, 'products')">Products</button>
            <button class="tablinks" onclick="openTab(event, 'postal')">Postal offices</button>
        </div>

        <div id="orders" class="tabcontent" style="padding:50px;width:100%">

            <table id="allOrders" class="display">
            </table>
            <div id="ordersPager"></div>
            <p></p>
            <button class="btn btn-lg btn-primary btn-sm" onclick="getOrderStats()" id="orderStatsButton" type="button">
                Get order properties
            </button>&nbsp;
            <div id=editOrderPanel class="display" hidden="true">
                <p></p>
                <table id="orderProducts" class="display">
                </table>
                <div id="orderdetailsPager"></div>
                <label>Order id: </label><label id="orderId"></label>
                <p></p>
                <label>Order date: </label><label id="orderDate"></label>
                <div>
                    <label>Order status <select id="orderStatus">>
                        <option value="NEW">NEW</option>
                        <option value="PROCESSING">PROCESSING</option>
                        <option value="SENT">SENT</option>
                        <option value="DELIVERED">DELIVERED</option>
                        <option value="CANCELLED">CANCELLED</option>
                    </select></label>
                </div>
                <div>
                    <label>Order active property <select id="orderActive">>
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select></label>
                </div>
                <button class="btn btn-lg btn-success btn-sm" onclick="updateOrderStats()" id="orderUpdateButton"
                        type="button">Update order
                </button>&nbsp;
            </div>
        </div>

        <div id="products" class="tabcontent" style="padding:50px;width:100%">

            <table id="allProducts" class="display">
            </table>
            <div id="productPager"></div>

            <p></p>
            <button class="btn btn-lg btn-success btn-sm" onclick="addProduct()" id="addProduct" type="button">Add
            </button>&nbsp;
            <button class="btn btn-lg btn-primary btn-sm" onclick="editProduct()" id="editProduct" type="button">Edit
            </button>&nbsp;
            <button class="btn btn-lg btn-danger btn-sm" onclick="deleteProduct()" id="deleteProduct" type="button">
                Delete
            </button>
            <div id=editProductPanel class="display" hidden="true">

                <p></p>
                <div><label>Product id: </label><label id="product-id"></label></div>
                <label>Product name: <input id="product-name" class="popover-dismissible" data-toggle="popover"
                                             data-trigger="focus" type="text" name="productName"
                                             placeholder="Type product name here"/> </label>

                <label>Product description: <input id="product-description" class="popover-dismissible" data-toggle="popover"
                                            data-trigger="focus" type="text" name="productDescription"
                                            placeholder="Type product description here"/> </label>

                <label>Product price: <input id="product-price" class="popover-dismissible" data-toggle="popover"
                                              data-trigger="focus" type="number" min="0" max="100000" step="100"
                                              value="0"
                                              size="6" name="productPrice"></label>

                <label>Product type <select id="product-productType">>
                    <option value="CPU">CPU</option>
                    <option value="GPU">GPU</option>
                    <option value="HDD">HDD</option>
                    <option value="SSD">SSD</option>
                    <option value="RAM">RAM</option>
                </select></label>

                <button class="btn btn-lg btn-success btn-sm" onclick="saveProduct()" id="saveProduct" type="button">
                    Save
                </button>
            </div>
        </div>

        <div id="postal" class="tabcontent" style="padding:50px;width:100%">
            <table id="allPostal" class="display">
            </table>
            <div id="postalPager"></div>
            <p></p>

            <button class="btn btn-lg btn-success btn-sm" onclick="addPostal()" id="addPostal" type="button">Add
            </button>&nbsp;
            <button class="btn btn-lg btn-primary btn-sm" onclick="editPostal()" id="editPostal" type="button"> Edit
            </button>&nbsp;
            <button class="btn btn-lg btn-danger btn-sm" onclick="deletePostal()" id="deletePostal" type="button">
                Delete
            </button>
            <div id=editPostalPanel class="display" hidden="true">

                <p></p>
                <div>
                    <div><label>Postal office id: </label><label id="postal-id"></label></div>
                    <label>Postal office name: <input id="postal-name" class="popover-dismissible"
                                                      data-toggle="popover"
                                                      data-trigger="focus" type="text" name="postalName"
                                                      placeholder="Type postal office name here"/></label>

                    <label>Postal office address: <input id="postal-address" class="popover-dismissible"
                                                         data-toggle="popover"
                                                         data-trigger="focus" type="text" name="postalAddress"
                                                         placeholder="Type postal office address here"></label>

                    <button class="btn btn-lg btn-success btn-sm" onclick="savePostal()" id="savePostal" type="button">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    document.getElementById("defaultOpen").click();
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</html>