<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.13.5/css/ui.jqgrid.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.13.5/js/jquery.jqgrid.min.js"></script>
    <script src="/js/order.js"></script>
    <script src="/js/product.js"></script>
    <script src="/js/table.js"></script>
    <title>Eshop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>

<div class="container">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">eShop</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="padding:10px;width:100%;float: left;">

        <h2>Your orders</h2>
        <div id="header"></div>
        <table id="orders" class="display">
        </table>
        <div id="pager2"></div>

        <button class="btn btn-lg btn-primary btn-sm" type="button" onclick="getOrderToEdit()">View and edit</button>&nbsp;
        <button class="btn btn-lg btn-danger btn-sm" onclick="deleteOrder()" id="deleteOrder" type="button">Delete order</button>&nbsp;
            <button class="btn btn-lg btn-success btn-sm" onclick="createOrder()" id="createOrder" type="button">Create order</button>

    </div>
    <div id=orderProductsPanel class="container" style="padding:10px;width:90%" hidden="false">
        <h3>Order Details</h3>
        <table id="orderDetails" class="display">
        </table>

        <button class="btn btn-lg btn-danger btn-sm" onclick="deleteProductFromOrder()" id="deleteProduct"
                type="button">Delete product
        </button>&nbsp;
        <select id="productList"></select>
        <input id="count" type="number" min="0" max="10" step="1" value="0" size="6" name="numberOfProducts">
        <button class="btn btn-lg btn-success btn-sm" onclick="addProduct()" id="addProduct" type="button">Add product
        </button>&nbsp;
        <button class="btn btn-lg btn-primary btn-sm" onclick="updateOrder()" id="update" type="button">Update order
        </button>&nbsp;
        <input onclick="hideDetailsPanel()" id="hideDetails" type="button" value="Hide details"/>
        <br/><br/>
        <input id="productPrice" type="text" name="productPrice" readonly="readonly">

        <div id="footer"></div>
    </div>
    <br/><br/>
    <br/><br/>
</div>
>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</html>